.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* background-color: #fff; */
  background-color: aliceblue;
  align-items: left;
  height: 60px;
  z-index: 0.5;

}
.bb{
  background-color: aliceblue;
}

.footer-content{
  background-color: aliceblue;
  color: darkgrey;
  text-align: left;
  font-family: sans-serif;
  float: right;

}

@media screen and (max-width: 768px) {
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10%;
    /* background-color: #fff; */
    background-color: aliceblue;
    align-items: left;
    height: 60px;
    z-index: -1;

  }


}



