<!-- <div class="contain">
<mat-card *ngFor="let item of numbers" class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle>{{phone}}</mat-card-subtitle>
      <mat-card-subtitle>{{email}}</mat-card-subtitle>
      <img mat-card-sm-image src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fHww" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{longText}}
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>

    <button mat-button><mat-icon>pageview</mat-icon></button>
    <button mat-button><mat-icon>edit</mat-icon></button>
    <button mat-button><mat-icon>delete_forever</mat-icon></button>
    <button mat-button style="margin-left: 30%;"><mat-icon>share</mat-icon></button>
  </mat-card-actions>
</mat-card>
</div>
 -->
